<!-- Main Wrapper -->
	<div class="wrapper wrapper-style2">
		<div class="title">Right Sidebar</div>
		<div class="container">
			<div class="row">
				<div class="12u">
					
					<!-- Main -->
						<div id="main">
							<div>
								<div class="row">
									<div class="8u skel-cell-mainContent">
									
										<!-- Content -->
											<div id="content">
												<article class="is is-post">
													<header class="style1">
														<h2>Lorem ipsum dolor sit amet magna egestas morbi bibendum sed malesuada</h2>
														<span class="byline">Tempus feugiat veroeros sed nullam dolore</span>
													</header>
													<a href="http://fav.me/d5pjw3g" class="image image-featured">
														<img src="images/pic01.jpg" alt="" />
													</a>
													<p>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. odio eleifend. Duis commodo fringilla commodo. Aliquam erat volutpat. Vestibulum facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam tempus euismod. Vestibulum ante ipsum primis in faucibus.</p>
													<p>Phasellus nisl nisl, varius id porttitor sed, pellentesque ac orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi bibendum justo sed mauris vehicula malesuada aliquam elit imperdiet. Aliquam eu nibh lorem, eget gravida mi. Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus lobortis ultrices sed non erat. Donec eget erat non magna volutpat malesuada quis eget eros. Nullam sodales cursus sapien, id consequat leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit amet risus elit.</p>
													<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci eget quam rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus 
													eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. Donec elementum ligula dignissim sem pulvinar non semper 
													odio eleifend. Duis commodo fringilla commodo. Aliquam erat volutpat. Vestibulum facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
													<p>Phasellus nisl nisl, varius id porttitor sed, pellentesque ac orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi bibendum justo sed mauris vehicula malesuada aliquam elit imperdiet. Aliquam eu nibh lorem, eget gravida mi. Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus lobortis ultrices sed non erat. Donec eget erat non magna volutpat malesuada quis eget eros. Nullam sodales cursus sapien, id consequat leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit amet risus elit.</p>
												</article>
												<div>
													<div class="row">
														<div class="6u">
															<section class="is is-pair-one">
																<header>
																	<h2>Magna pulvinar tempus</h2>
																</header>
																<a href="http://fav.me/d5uvswq" class="image image-full"><img src="images/pic05.jpg" alt="" /></a>
																<p>Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus 
																eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis 
																tempus.</p>
																<a href="#" class="button button-style1">More</a>
															</section>
														</div>
														<div class="6u">
															<section class="is is-pair-two">
																<header>
																	<h2>Magna pulvinar tempus</h2>
																</header>
																<a href="http://fav.me/d5qdf2o" class="image image-full"><img src="images/pic06.jpg" alt="" /></a>
																<p>Rutrum bibendum. Proin pellentesque diam non ligula commodo tempor. Vivamus 
																eget urna nibh. Curabitur non fringilla nisl. Donec accumsan interdum nisi, quis 
																tempus.</p>
																<a href="#" class="button button-style1">More</a>
															</section>
														</div>
													</div>
												</div>
											</div>
										<!-- /Content -->
									
									</div>
									<div class="4u">
										
										<!-- Sidebar -->
										<%- partial("_shared/sidebar") %>
										
									</div>
								</div>
							</div>
						</div>
					<!-- /Main -->
					
				</div>
			</div>
		</div>
	</div>
<!-- /Main Wrapper -->

<!-- Highlights Wrapper -->
<%- partial("_shared/highlights") %>